# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.env
*.env
venv/
env/
ENV/
.venv/

# VSCode or JetBrains
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db


.npm-cache/
node_modules/
.npx/
npm-debug.log*